<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="../public/css/normalize.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
        <div>
            <img id="logo"  src= '../public/images/logo-mercado-liebre.svg' alt='Logo'>
        </div>
        <div >
            <marquee id="br_busqueda" > Barra de busqueda</marquee> 
        </div>
        <div id="alin" >
            <i id="lupa" class="fa-solid fa-magnifying-glass" ></i>
        </div>
        <div id="compras_cuotas">
        <p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <ul  type= 'none'>
            <li ><a class="enlaces" href="/Ofertas">Ofertas</li></a>
            <li><a class="enlaces" href="/Tiendas Oficiales">Tiendas Oficiales</li></a>
            <li> <a class="enlaces" href="/Vender"> Vender</li></a>
            <li> <a class="enlaces" href="/Ayuda"> Ayuda</li></a>
            <li> <a class="enlaces" href="/Creá tu cuenta">Creá tu cuenta <i id="negritas" class="fa-regular fa-address-card"></i></li></a>
            <li><a class="enlaces" href="/Ingresá">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></li></a>
            <li><a class="enlaces" href="/Mis compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></li></a>
        </ul>
        <div id="alin">
            <i id="menu" class="fas fa-bars"></i>
        </div>
</header>

        
    
<main>
    <ul type="none" id="titulares">
        <li id="negritas">Basado en tu última visita</li>
    </ul>
    <ul type="none">
        <li><img class="img" src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"></li>
        <li id="Precios"> $6.770</li>
        <li id="Des">40% OFF </li>
        <li id="Des">Cafetera Moulinex</li>
    </ul>
    <ul type="none">
        <li><img class="img" src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"></li>
         <li id="Precios">$230.000</li>
        <li id="Des">20% off</li>
        <li id="Des">MacBook Pro 2019</li> 
    </ul>
    <ul id="titulares" type="none" >
        <li id="negritas">Ofertas</li>
    </ul>
    <ul type="none">
        <li><img class="img" src="../public/images/img-cafetera-moulinex.jpg" alt=""> </li>
        <li id="Precios">$6.770</li>
        <li id="Des">40% off</li>
         <li id="Des">Cafetera Moulinex</li>
    </ul>
    <ul type="none">
        <li><li><img class="img" src="../public/images/img-macbook-pro-2019.jpg" alt=""> </li></li>
        <li id="Precios">$230.000</li>
        <li>20% off</li>
        <li>MacBook Pro 2019</li>
    </ul>

      <ul type="none">
        <li><li><img class="img" src="../public/images/img-samsung-galaxy-s10.jpg" alt=""> </li></li>
        <li id="Precios">$70.500</li>
        <li id="Des">10% off</li>
        <li id="Des">Samsung Galaxy S10</li>
    </ul>
   <ul type="none">
        <li><li><img class="img" src="../public/images/img-tv-samsung-smart.jpg" alt=""> </li></li>
        <li id="Precios">$23.200</li>
         <li id="Des">5% off</li>
        <li id="Des">SmartTv Samsung 43"</li>
    </ul>


</main>
<footer class="centro">
    <ul type="none" ><i id="footer" class="fa-solid fa-credit-card"></i>
        <li id="negritas">Pagá con tarjeta o en efectivo</li>
    </ul>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <ul type="none" ><i id="footer" class="fa-solid fa-gift"></i>
       <li id="negritas">Envío gratis desde $ 2.500</li> 
    </ul>    
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos.Es un beneficio de Mercado Puntos.</p>
    <ul type="none" > <i id="footer" class="fa-solid fa-user-shield" ></i>
        <li id="negritas" >Seguridad, de principio a fin</li>
    </ul>
        <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    <ul type="none">
        <li>Copyright © 1999-2020 MercadoLiebre S.R.L</li>
    </ul>
</footer>    
</body>
</html>


